@include("includes.header")
    <div id="container">
        <img src="{{ img("logo.png") }}" alt="logo" width="80%" />
        
        <h1>LITE PHP</h1>
        
        <ul class="links">
            <li>
                <a href="https://github.com/ArefShojaei/Lite-PHP#categories-">{{ __("public.docs") }}</a>
            </li>
            <li>
                <a href="https://github.com/ArefShojaei">{{ __("public.author") }}</a>
            </li>
            <li>
                <a href="https://github.com/ArefShojaei/Lite-PHP">{{ __("public.repository") }}</a>
            </li>
        </ul>
    </div>
@include("includes.footer")